:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7d;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
  }
  body{
    background-color: var(--cor-2);
    margin: 0;
    
  }
  .header{
    background-color: var(--cor-3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: var(--cor-5);
    width: 100%;
    height: 130px;
    top: 0%;
    left: 0%;
    position: fixed;
    
  }
  .header img{
    width: 105px;
    height: -10px;
    position: absolute;
    left: 1%;
    top: 2%;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 200px;
    
  }
  
  .primeiro{
    color: var(--cor-4);
    margin-left: 2%;
    width: auto;
    font-size: 36px;
    align-items: center;
    margin-top: 180px;
    
  }
  .segundo{
    color: var(--cor-4);
    margin-left: 40%;
    width: 50%;
    align-items: center;
    margin-top: 180px;
  }
  h1{
    color: var(--cor-4);
    font-size: 36px;
  }
  
  h3{
    color: black;
    font-size: 26px;
  }
  .farm{
    margin-right: 1600px;
    color: var(--cor-5);
  }
  
  
  .bem-vindo{
  
      color: var(--cor-4);
      font-size: 56px;

  }
  h2{
    color: var(--cor-3);
    font-size: 36px;
  }
  .camisa{
    margin-top: -30%;
    width: 30%;
    margin-left: 58%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
  }

  button {
    align-items: center;
    background-image: linear-gradient(144deg, var(--cor-6), var(--cor-1) 50%, var(--cor-6));
    border: 0;
    border-radius: 8px;
    box-shadow: var(--cor-4) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 67%;
    margin-top: 40px;
  }
  
  button:active,
  button:hover {
    outline: 0;
  }
  
  button span {
    background-color: var(--cor-6);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  button:hover span {
    background: none;
  }
  
  button:active {
    transform: scale(0.9);
  }